{% extends 'higherguidanceforum/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
	{{ subject.name }} -Forum
{% endblock %}

{% block body_block %}

		{% if subject %}

			<h1>{{subject.name}}</h1>

            {% if questions %}
				<ul>
					{% for question in questions %}
						<li><a href="{% url 'show_question' question.slug }">{{ question.title }}</a></li>
					{% endfor %}
				</ul>
		    {% else %}
		    	<strong>No questions currently in subject.</strong>
		    {% endif %}

            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'submit_question' subject.slug %}">Submit Question</a></li>
            {% endif %}

            <li><a href="{% url 'show_subject' subject.slug %}">{{ subject.name }}</a></li>
            <li><a href="{% url 'subjectindex' %}">Return to Subject Index</a></li>
            </ul>
		{% else %}
			The specified subject does not exist!
		{% endif %}

{% endblock %}