{% extends 'higherguidanceforum/base.html' %}
{% load static %} <!-- New line -->

{% block title_block %}
	Home
{% endblock %}

{% block body_block %}

	<h1>Welcome</h1>

	<style>
	    li {
        vertical-align: middle;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: black;
        }
	</style>

	<div>
		{% if user.is_authenticated %}
            {{ user.username }}, here are your subjects

            <div>
                {% if usubjects %}
                    {% for usubject in usubjects %}
                        <li>
                        <a href="{% url 'show_subject' usubject.slug %}">{{ usubject.name }}</a>
                        <!-- New line -->
                    </li>
                    {% endfor %}
                {% else %}
                    <strong>You have not chosen your subjects</strong>
                {% endif %}

            </div>

        {% else %}
            <li><a href="http://scottishhighersguidanceforum.pythonanywhere.com/scottishhighersguidanceforum/subjectindex/">Please browse the subject index</li></p>
            <br />
        {% endif %}
		<strong>{{ boldmessage }}</strong><br />
	</div>

    <br/>
     <h2>Most Common Subjects<br /></h2>
     <div>
        {% if subjects %}
        <ul?>
            {% for subject in subjects %}
                <li>
                    <a href="{% url 'show_subject' subject.slug %}">{{ subject.name }}</a>
                    <br />
                    <!-- New line -->
                </li>
            {% endfor %}
            <br />
        </ul?>
        {% else %}
            <strong>There are no subjects present.</strong>
            <br />
        {% endif %}
        <br />
     </div>

     <br />

     <h2>Most Viewed Resources</h2>


     <h3>visits: {{ visits }}</h3>

     <div>
        {% if links%}
            <ul?>
                {% for link in links %}
                    <li>
                        <a href="{{ link.url}}"</a>{{ link.title}}
                    </li>
                {% endfor %}
            </ul?>
            {% else %}
                There are no resource links present.
            {% endif %}
        </div>
		<br/>

{% endblock %}