{% extends 'higherguidanceforum/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}

	<h1>Register for the Scottish Highers Guidance Forum</h1>

    <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box}

        hr {
        border: 0px solid #f1f1f1;
        margin-bottom: 0px;
    }

    p.big {
    line-height: 3.0;
    }

    .button {
        background-color: powderblue;
        color: black;
        padding: 10px 20px;
        margin: 8px 0;
        border: 2px solid black;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    .button:hover {
    background-color: #53D1E7;
    color: black;
    }

    hr{
        background-color: powderblue;
    }

    </style>


	{% if registered %}
	   Scottish Higher Forum Says: <strong>Thank you for registering!</strong>
		<a href="{% url 'home' %}">Return to the homepage.</a><br />
	{% else %}
		Scottish Higher Forum Says: <strong>register here!</strong>

		<p class="big">
        </p>

		<form id="user_form" method="post" action="{% url 'register' %}"
		      enctype="multipart/form-data">

		{% csrf_token %}

		{{ user_form.as_p }}
		{{ profile_form.as_p }}


	    </form>
	   <a href="{% url 'registerstudent' %}" class="button" >I'm a Student</a>
       <a href="{% url 'registerteacher' %}" class="button" >I'm a Teacher</a>
	{% endif %}

{% endblock %}