{% extends 'higherguidanceforum/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
    {{ subject.name }} - Resources
{% endblock %}

{% block body_block %}
		{% if subject %}
			<h1>{{subject.name}}</h1>

            {% if links %}
				<ul>
					{% for link in links %}
						<li><a href="{{ link.url }}">{{ link.title }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>No links currently in subject.</strong>
			{% endif %}

            {% if user.is_authenticated %}
                <a href="{% url 'submit' subject.slug %}">Submit Resource</a>
            {% endif %}

		{% else %}
			The specified subject does not exist!
		{% endif %}
{% endblock %}