{% extends 'higherguidanceforum/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
    {{ subject.name }} - Resources
{% endblock %}

{% block body_block %}

		{% if subject %}
			<h1>{{subject.name}}</h1>

    		<style>
    	    li {
            vertical-align: middle;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            color: black;
            }
    	    </style>

            {% if links %}
				<ul>
					{% for link in links %}
						<li><a href="{{ link.url }}">{{ link.title }}</a></li>
					{% endfor %}
				</ul>
			{% else %}
				<strong>No links currently in subject.</strong>
			{% endif %}
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'submit_page' subject.slug %}">Submit Resource</a></li>
            {% endif %}

            <li><a href="{% url 'show_subject' subject.slug %}">{{ subject.name }}</a></li>
            <li><a href="{% url 'subjectindex' %}">Return to Subject Index</a></li>
            </ul>
            </br>


		{% else %}
			The specified subject does not exist!
		{% endif %}

{% endblock %}