{% extends 'higherguidanceforum/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
    {{ subject.name }}
{% endblock %}

{% block body_block %}

	<style>
	    li {
        vertical-align: middle;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: black;
        }
	</style>

		{% if subject %}
			<h1>{{subject.name}}</h1>

            <li><a href="{% url 'show_resources' subject.slug %}">Resources</a></li>
			<li><a href="{% url 'show_forum' subject.slug %}">Subject Forum</a></li>

		{% else %}
			The specified subject does not exist!
		{% endif %}

{% endblock %}