{% extends 'higherguidanceforum/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
	Scottish Higher Subjects
{% endblock %}

{% block body_block %}


	<h1>Scottish Higher Subjects</h1>

	<style>
	    body{
	    background-color: powderblue;
	    }
	    li {
        vertical-align: middle;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: black;
        }
        <img src="/media/chemistry.jpg" alt="UoG" width="400" height="120">
    </style>
</head>
<body>


<html>
<head>

	<div>
        {% if subjects %}
        <ul?>
            {% for subject in subjects %}
                <li>
                    <a href="{% url 'show_subject' subject.slug %}">{{ subject.name }}</a>
                    <!-- New line -->
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no subjects present.</strong>
        {% endif %}
    </div>


</body>
</html>



{% endblock %}