{% extends 'higherguidanceforum/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
	Subject Index
{% endblock %}

{% block body_block %}
	
	<h1>Welcome</h1>
	<div>
		{% if user.is_authenticated %}
            {{ user.username }}, here are your subjects
            
            <div>
                usubjects = {{ user.subject }}
                
                {% if usubjects %}
                    {% for usubject in usubjects %}
                        <li>
                        <a href="{% url 'show_subject' usubject.slug %}">{{ usubject.name }}</a>
                        <!-- New line -->
                    </li>
                    {% endfor %}
                {% else %}
                    <strong>You have not chosen your subjects</strong>
                {% endif %}
                
            </div>
            
        {% else %}
            Please browse the subject index
        {% endif %}
		<strong>{{ boldmessage }}</strong><br />
	</div>

     <h2>Most Common Subjects</h2>
     <div>
        {% if subjects %}
        <ul?>
            {% for subject in subjects %}
                <li>
                    <a href="{% url 'show_subject' subject.slug %}">{{ subject.name }}</a>
                    <!-- New line -->
                </li>
            {% endfor %}
        </ul?>
        {% else %}
            <strong>There are no subjects present.</strong>
        {% endif %}
     </div>

     <br />
        <!-- New line -->
     <h2>Most Viewed Resources</h2>
     <div>
        {% if links%}
            <ul?>
                {% for link in links %}
                    <li>
                        <a href="{{ link.url}}"</a>{{ link.title}}
                    </li>
                {% endfor %}
            </ul?>
            {% else %}
                <strong>There are no resource links present.</strong>
            {% endif %}
        </div>
		<br/>

{% endblock %}