{% extends 'higherguidanceforum/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
	Subject Index
{% endblock %}

{% block body_block %}


	<h1>Subjects</h1>

	<div>
        {% if subjects %}
        <ul?>
            {% for subject in subjects %}
                <li>
                    <a href="{% url 'show_subject' subject.slug %}">{{ subject.name }}</a>
                    <!-- New line -->
                </li>
            {% endfor %}
        </ul?>
        {% else %}
            <strong>There are no subjects present.</strong>
        {% endif %}
    </div>


{% endblock %}