{% extends 'higherguidanceforum/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
	Submit Question
{% endblock %}

{% block body_block %}
    {% if subject %}
        <h1>Ask a question to {{ subject.name }}'s forum</h1>

    <form id="page_form" method="post" action="/higherguidanceforum/subject/{{ subject.slug }}/forum/submit/">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}

        <input type="submit" name="submit" value="Add Link" />

    </form>

	{% else %}
	    A subject of this name does not exist.
	{% endif %}

{% endblock %}